<div class="card-body mt-4">
    <h2 class="d-flex justify-content-center">{{title}}</h2>
    <p class="d-flex justify-content-center">{{subTitle}}</p>

    <div id="courseCarousel{{index}}" class="carousel slide my-carousel" data-bs-ride="carousel">
        <div class="carousel-inner">
            {{#each (chunk courses 3)}}
            <div class="carousel-item {{#if @first}}active{{/if}}">
                <div class="row">
                    {{#each this}}
                    {{> course-card}}
                    {{/each}}
                </div>
            </div>
            {{/each}}
        </div>

        <div class="carousel-indicators">
            {{#each (chunk courses 3)}}
            <button type="button" data-bs-target="#courseCarousel{{index}}" data-bs-slide-to="{{@index}}"
                class="{{#if @first}}active{{/if}}">
            </button>
            {{/each}}
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#courseCarousel{{index}}" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>

        <button class="carousel-control-next" type="button" data-bs-target="#courseCarousel{{index}}" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>
    </div>
</div>