<div class="col-md-4 mb-3">
    <div class="card h-100 position-relative course-card">
        {{!-- https://picsum.photos/400/300?random={{course_id}} --}}
        <img class="course-card-thumbnail" src="/public/imgs/sp/{{course_id}}/main_thumbs.jpg" alt="No image"
            onerror="this.onerror=null; this.src='/public/imgs/no_image.jpg';">
        <div class="card-body">
            <div class="course-card-title">
                <span>{{name}}</span>
            </div>
            <p class="course-card-description-text-ellipsis">{{short_des}}</p>
            <a href="/course/detail?courseId={{course_id}}" class="stretched-link"></a>
            <div class="d-flex justify-content-between">
                <div class="d-flex justify-content-left gap-3">
                    <p class="card-text">
                        <i class="bi bi-star"></i>
                        {{{rating}}}
                    </p>
                    <p class="card-text">
                        <i class="bi bi-people"></i>
                        {{{rating_count}}}
                    </p>
                    <p class="card-text">
                        <i class="bi bi-eye"></i>
                        {{{view_count}}}
                    </p>
                    {{#if (isNew created_at)}}
                    <span class="course-badge">Mới</span>
                    {{/if}}
                </div>
                {{#if @root.isAuthenticated}}
                <a href="#" class="btn btn-sm btn-outline-success btn-expand" style="z-index: 2">
                    <i class="bi bi-heart"></i>
                    <span class="btn-text">Quan tâm</span>
                </a>
                {{/if}}
            </div>
        </div>
    </div>
</div>