<div class="col-md-4 mb-3">
    <div class="card h-100 position-relative course-card">
        <img class="course-card-thumbnail" src="https://picsum.photos/400/300?random={{course_id}}" alt="No image"
            onerror="this.onerror=null; this.src='/public/imgs/no_image.jpg';">
        {{!-- <img class="course-card-thumbnail" src="/public/imgs/sp/{{course_id}}/main_thumbs.jpg" alt="No image"
            onerror="this.onerror=null; this.src='/public/imgs/no_image.jpg';"> --}}
        <div class="card-body">
            <div class="course-card-title">
                <span>{{name}}</span>
            </div>
            <p class="course-card-description-text-ellipsis">{{short_des}}</p>
            <a href="/course/detail?courseId={{course_id}}" class="stretched-link"></a>
            <div class="course-meta">
                <span><i class="bi bi-calendar"></i> {{formatDate created_at}}</span>
                <span><i class="bi bi-arrow-repeat"></i> {{formatDate updated_at}}</span>
            </div>
            <div class="d-flex justify-content-between">
                <div class="course-stats">
                    <span><i class="bi bi-star-fill"></i> {{rating}}</span>
                    <span><i class="bi bi-people-fill"></i> {{rating_count}}</span>
                    <span><i class="bi bi-eye-fill"></i> {{view_count}}</span>
                </div>
                {{#if (isNew created_at)}}
                <span class="course-badge">Mới</span>
                {{/if}}
                {{#if @root.isAuthenticated}}
                <a href="#" class="btn btn-sm btn-outline-success btn-expand" style="z-index: 2">
                    <i class="bi bi-heart"></i>
                    <span class="btn-text">Quan tâm</span>
                </a>
                {{/if}}
            </div>
        </div>
    </div>
</div>