<form id="frmEditCourse" action="" method="post">
    <div class="card">
        <div class="card-header">Edit Category</div>
        <div class="card-body">
            <div class="mb-3">
                <label for="txtCategoryId" class="form-label">#</label>
                <input type="text" class="form-control" id="txtCategoryId" value="{{course.course_id}}"
                    name="id" readonly />
            </div>
            <div class="mb-3">
                <label for="txtCourseName" class="form-label">Tên khóa học</label>
                <input type="text" class="form-control" id="txtCourseName" value="{{course.name}}" name="name"
                    autofocus />
            </div>
            <div class="mb-3">
                <label for="selCategoryId" class="form-label">Lĩnh vực</label>
                <select class="form-select" id="selCategoryId" name="categoryId">
                    {{#each global_categories}}
                    <option value="{{this.category_id}}">{{this.name}}</option>
                    {{/each}}
                </select>
            </div>
             <div class="mb-3">
                <label for="txtShortDes" class="form-label">Mô tả ngắn gọn</label>
                <input type="text" class="form-control" id="txtShortDes" value="{{course.short_des}}" name="shortDes" />
            </div>
            <div class="mb-3">
                <label for="txtLongDes" class="form-label">Mô tả đầy đủ</label>
                <div id="editor" style="height: 200px;"></div>
                <input type="hidden" class="form-control" id="txtLongDes" value="{{course.long_des}}" name="longDes" />
            </div>
            <div class="mb-3">
                <label for="txtKeywords" class="form-label">Từ khóa trò chơi</label>
                <input type="text" class="form-control" id="txtKeywords" value="{{course.keywords}}" name="keywords" />
            </div>
        </div>
        <div class="card-footer text-muted">
            <a class="btn btn-outline-primary" href="/admin/course/list" role="button">
                <i class="bi bi-arrow-left"></i>
                Trở về
            </a>
            <button type="submit" class="btn btn-danger" formaction="/admin/course/del" formmethod="post">
                <i class="bi bi-trash"></i>
                Xóa
            </button>
            <button type="submit" class="btn btn-success" formaction="/admin/course/edit" formmethod="post">
                <i class="bi bi-check2"></i>
                Lưu
            </button>
        </div>
    </div>
</form>
{{> quill}}