<div class="card">
    <h1>Danh sách khóa học</h1>
    <a name="" id="" class="btn btn-outline-success" href="/admin/course/add" role="button">
        <i class="bi bi-unity"></i>
        Tạo khóa học
    </a>
    <table class="my-table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên</th>
                <th scope="col">Mô tả ngắn gọn</th>
                <th scope="col">Mô tả đầy đủ</th>
                <th scope="col" class="text-end">Xử lý</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <th scope="row">{{course_id}}</th>
                <td>{{name}}</td>
                <td>{{short_des}}</td>
                <td>{{long_des}}</td>
                <td class="text-end">
                    <a name="" id="" class="btn btn-outline-success" href="/admin/course/edit?id={{course_id}}" role="button">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>