<div class="card">
    <div class="card-header">Chi tiết khóa học</div>
    <div class="card-body">
        {{#with course}}
        <img class="course-img" src="/public/imgs/sp/{{course_id}}/main.jpg" alt="No image"
            onerror="this.onerror=null; this.src='/public/imgs/no_image.jpg';">
        <h4 class="card-title">{{name}}</h4>
        <p class="card-text">
            {{{long_des}}}
        </p>
        <div class="d-flex justify-content-left gap-3">
            <p class="card-text">
                <i class="bi bi-calendar"></i>
                {{{formatDate created_at}}}
            </p>
            <p class="card-text">
                <i class="bi bi-calendar"></i>
                {{{formatDate updated_at}}}
            </p>
        </div>
        <div class="d-flex justify-content-left gap-3">
            <p class="card-text">
                <i class="bi bi-star"></i>
                {{{rating}}}
            </p>
            <p class="card-text">
                <i class="bi bi-people"></i>
                {{{rating_count}}}
            </p>
            <p class="card-text">
                <i class="bi bi-eye"></i>
                {{{view_count}}}
            </p>
        </div>
        {{/with}}
    </div>

    {{> course-section
    title="khóa học liên quan"
    subTitle="Khám phá các khóa học liên quan"
    courses=courses
    }}
</div>

{{> course-scroll-title}}
