<div class="card">
    {{!-- <div class="card-header">Search result for "{{q}}"</div> --}}
    <div class="card-header">Danh sách khóa học</div>
    <div class="card-body">
        <h4 class="card-title">{{filter.name}}</h4>
        {{#if (eq courses.length 0)}}
        <div class="row">
            <div class="col">
                <p>Không tìm thấy khóa học</p>
            </div>
        </div>
        {{else}}
        <div class="row">
            {{#each courses}}
            {{> course-card}}
            {{/each}}
        </div>
        <div class="row">
            <nav aria-label="...">
                <ul class="pagination">
                    {{#if (lt prevPage 1)}}
                    <li class="page-item disabled">
                        <a class="page-link" href="#">Trước</a>
                    </li>
                    {{else}}
                    <li class="page-item">
                        <a class="page-link" href="?categoryId={{filter.categoryId}}&page={{prevPage}}">Trước</a>
                    </li>
                    {{/if}}
                    {{#each pageNumbers}}
                    {{#if isCurrent}}
                    <li class="page-item active">
                        <a class="page-link" href="javascript:void(0);">
                            {{value}}
                        </a>
                    </li>
                    {{else}}
                    <li class="page-item">
                        <a class="page-link" href="?categoryId={{../filter.categoryId}}&page={{value}}">
                            {{value}}
                        </a>
                    </li>
                    {{/if}}
                    {{/each}}
                    {{#if (gt nextPage pageNumbers.length)}}
                    <li class="page-item disabled">
                        <a class="page-link" href="#">Sau</a>
                    </li>
                    {{else}}
                    <li class="page-item">
                        <a class="page-link" href="?categoryId={{filter.categoryId}}&page={{nextPage}}">Sau</a>
                    </li>
                    {{/if}}
                </ul>
            </nav>
        </div>
        {{/if}}
    </div>
</div>

{{#fillSection 'js'}}
<script>
document.querySelectorAll('.course-title').forEach(title => {
  const span = title.querySelector('span');
  const overflow = span.scrollWidth - title.clientWidth;

  if (overflow > 0) {
    const SPEED = 50; // px per second
    const duration = overflow / SPEED;

    title.classList.add('is-overflow');
    span.style.setProperty('--scroll-distance', `${overflow}px`);
    span.style.setProperty('--scroll-duration', `${duration}s`);
  }
});
</script>

{{/fillSection}}